# This is Git's per-user configuration file.
[user]
	name = Paul Braverman
	email = pdbraverman@protonmail.com
# Please adapt and uncomment the following lines:
#	name = PB
#	email = pdbraverman@protonmail.com
