# This is Git's per-user configuration file.
[user]
	name = Paul Braverman
	email = git_phony.fqo7y@simplelogin.com
# Please adapt and uncomment the following lines:
#	name = PB
#	email = git_phony.fqo7y@simplelogin.com
